<nav class="navbar navbar-expand-lg navbar-dark black-bg-opacity-80 border-rounded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link white-text btn btn-danger" href="{% url 'lab_5:index' %}">It's Me!<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link white-text btn btn-danger" href="{% url 'lab_5:project' %}">Projects</a>
            <a class="nav-item nav-link white-text btn btn-danger" href="{% url 'lab_5:contact' %}">Skills & Contacts</a>
            <a class="nav-item nav-link white-text btn btn-danger" href="{% url 'lab_5:all_schedule' %}">Scheduling</a>
        </div>
    </div>
</nav>