.bg-index { 

    background-image: url("images/bg.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.bg-form {
    background-image: url("images/form.jpeg");
    height: 100%; 
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.bg-schedule {
    background-image: url("images/schedule.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.bg-project { 

    background-image: url("images/device.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.bg-regist { 

    background-image: url("images/registration.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.bg-contact {
    background-image: url("images/skill.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.white-text {
    color: white
}

.text-center {
    text-align: center;
}
.black-text {
    color: black
}

.black-bg-opacity-80 {
    background: #000000b9
}

.border-rounded {
    border-radius: 1em;
}

.border-solid-red-dark {
    border:solid;
    border-color: #89000099;
}

.border-solid-red-light {
    border:solid;
    border-color: #a85c5ce6;
}

.container {
    margin: 0 auto;
    font-family: Montserrat;
}

header {
    margin : 4vh auto;
}

.h1-head {
    text-align: center;
    font-size: 3em;
}

.h1-head-proj {
    text-align: center;
    font-size: 3em;
}
.navbar-nav {
    margin: 0 auto;

}

.btn-danger {
    background: transparent;
    border: none;
    border-radius: 1em;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.25em;
    margin-left: 6vh;
    margin-right: 6vh;
}

.form-control {
    margin-bottom:2vh;
}

.choices {
    position: relative;
}

#margin-bottom-right {
    margin-bottom:0;
    margin-right:2vh;
}

#self-portrait {
    margin: 0 auto;
    display: block;
    width:auto;
    height:auto;
    max-width:75%;
    max-height:auto;
}

#self-bio {
    display:flex;
    align-items: center;
}

#content-bottom {
    margin-top: 4vh;
    padding: 3vh;
    font-size:1.2em;
}

.bottom-list {
    margin : 5px auto;
}

#project-section {
    margin: 2vh;
    padding: 4vh;
}

#project-header {
    max-width: 50%;
    padding: .5vh;
}

#skill-header {
    max-width: 45%;
    padding:.5vh;
}

#contact-header {
    max-width: 40%;
    padding:.5vh;
}

#card-project {
    background: transparent;
    text-align: center;
    padding: 5vh 0;
}

#register-card {
    margin-top:3vh;
    margin-left: 10vh;
    margin-right:10vh;
    padding: 4vh;
}
#activity-row {
    margin-bottom:2vh;
}

#activity-splitter {
    padding:3vh;
    margin-left:4.6vh;
    margin-right:4.6vh;
    margin-bottom:3vh;
}

#skill-section {
    max-width: 70%;
    margin : 1vh auto;
}

#bottom-padding {
    padding:4vh;
}

#proj-img-l {
    margin: 4vh auto;
    display: block;
    width:auto;
    height:auto;
    max-width:50%;
    max-height:auto;

}

#proj-img-r {
    margin: 4vh auto;
    display: block;
    width:auto;
    height:auto;
    max-width:75%;
    max-height:auto;
}

.contact-img {
    margin: 0 auto;
    display: block;
    width:auto;
    height:auto;
    max-width:30%;
    max-height:auto;
    background: transparent;
}


@media(min-width: 768px) {
    .navbar {
        margin : 0 10vh;
    }

    #project-section {
        margin: 2vh 10vh;
        padding: 4vh;
    }

    .skill-text {
        font-size: 3em;
    }

    #card-skill {
        margin-top: 3vh;
        margin-left: 20vh;
        margin-right:20vh;
    }

    #content-top {
        margin: 6vh 22vh;
        padding: 4vh;     
    }
    
    #right-modifier {
        margin-left: 6vh;
    }
}
    

@media (max-width: 992px) { 
    #register-card {
        margin-top:3vh;
        margin-left: 20vh;
        margin-right:20vh;
        padding: 3vh;
    }

@media (max-width: 768px) { 

    .navbar-toggler {
        padding: .1rem .2rem;
        font-size: .8rem;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: .8em;
    }

    .h1-head {
        font-size: 2em;
    }

    .h1-head-proj {
        font-size: 1.5em;
    }
    #content-top {    
        margin: 4vh;
        padding: 4vh;
    }

    #margin-bottom-right {
        margin-bottom:1.5vh;
    }

    #project-section {
        margin: 2vh;
        padding: 4vh;
    }
    #self-bio {
        margin-top:4vh;
    }

    #self-portrait {
        max-width:50%;  
    }

    #right-modifier {
        margin-top: 5vh;
    }
    
    .contact {
        margin-top:1.5vh;
        margin-bottom:3vh;
    }
    #content-bottom {
        font-size:.9em;
    }

    #right-proj-modifier {
        margin-top: 5vh;
    }

    #card-skill {
        margin-top: 3vh;;
        margin-left: 5vh;
        margin-right:5vh;
    }

    #register-card {
        margin-top:3vh;
        margin-left: 5vh;
        margin-right:5vh;
        padding: 2vh;
    }

    #activity-splitter {
        padding:2vh;
        margin-bottom:2vh;
    }

    .skill-text {
        font-size: 1.9em;
    }
    
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1em;
    }
    P {
        font-size:.8em;
    }
}

      
}