<!doctype html>
{% load static %}
<html lang = "en-US">

<html>
    <head>
        <title>Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel = "stylesheet" href = "{% static "style.css" %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body class = "bg-schedule">
        <div class = "container">
            <header class = "black-bg-opacity-80 border-rounded white-text" id = "contact-header">
                <h1 class="h1-head">Scheduling</h1>
            </header>

            {% include 'lab_5/navbar.html' %}

            <div class = "card black-bg-opacity-80 border-rounded border-solid-red-dark white-text" id = "register-card">
                <div class="row" id ="activity-row">
                    {% if activities %}
                        {% for activity in activities %}
                            <div class = "col-md-5 black-bg-opacity-80 border-rounded border-solid-red-dark" id = "activity-splitter">
                                <p>Name : {{  activity.activity_name }}</p>
                                <p>Date & Time : {{  activity.time }}</p>
                                <p>Location : {{  activity.location }}</p>
                                <p>Category : {{  activity.category.category }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                            <div class = "col-md text-center"><h5>No Schedule</h5></div>
                    {% endif %}
                </div>
                
                <div class="choices">
                    <a href = "{% url 'lab_5:activity_form' %}"><button type="button" class="btn btn-light" id="margin-bottom-right" data-dismiss="modal">Add new schedule</button></a>
                    <a><button type="button" class="btn btn-dark " data-dismiss="modal" data-toggle="modal" data-target="#exampleModalCenter">Delete all schedules</button></a>
                </div>

                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title black-text" id="exampleModalCenterTitle">Delete Schedules?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body black-text">
                            Do you want to delete all your schedules?
                            </div>
                            <div class="modal-footer">
                                <a href = "{% url 'lab_5:delete_all' %}"><button type="button" class="btn btn-danger black-text">Delete</button></a>
                                <button type="button" class="btn btn-dark" data-dismiss="modal">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </body>
</html>