<!doctype html>
{% load static %}
<html lang = "en-US">
<html>
    <head>
        <title>Skills and Contacts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel = "stylesheet" href = "{% static "style.css" %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
        <body class = "bg-contact">
            <div class = "container">
                <header class ="black-bg-opacity-80 border-rounded white-text" id = "skill-header">
                    <h1 class = "h1-head-proj">Skills Possessed</h1>
                </header>

                {% include 'lab_5/navbar.html' %}

                <div class = "card black-bg-opacity-80 border-rounded border-solid-red-dark white-text" id = "card-skill">
                    <div class = "card-body">
                        <h1 class="text-center skill-text">HTML / CSS</h2>
                        <h1 class="text-center skill-text">JavaScript</h2>
                    </div>
                </div>

                <header class ="black-bg-opacity-80 border-rounded white-text" id = "contact-header">
                        <h1 class = "h1-head-proj">Contact</h1>
                </header>

                <div class = "black-bg-opacity-80 border-rounded border-solid-red-dark" id = "skill-section">
                    <div class="row" id="bottom-padding">
                        <div class="col-6 col-md-3 contact">
                            <a href = "https://mail.google.com"><img class ="contact-img" src = "{% static "images/email.png" %}"></a>
                        </div>
                        <div class="col-6 col-md-3 contact">
                            <a href = "#"><img class ="contact-img" src = "{% static "images/phone.png" %}"></a>
                        </div>
                        <div class="col-6 col-md-3 contact">
                            <a href = "http://www.linkedin.com"><img class ="contact-img" src = "{% static "images/linkedin.png" %}"></a>
                        </div>
                        <div class="col-6 col-md-3 contact">
                            <a href = "https://www.twitter.com"><img class ="contact-img" src = "{% static "images/twitter.png" %}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </body>
</html>