<!doctype html>
{% load static %}
<html lang="en-US">
<html>
    <head>
        <title>Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel = "stylesheet" href = "{% static "style.css" %}">
        
    </head>
    
    <body class = "bg-index">
        <div class = "container">
            <header>
                <h1 class = "h1-head white-text">Welcome to Josh Sudung's Profile</h1>
            </header>

            {% include 'lab_5/navbar.html' %}

            <div class="row black-bg-opacity-80 border-rounded border-solid-red-dark" id="content-top">
                <div class="col-sm-4">
                    <img id = "self-portrait" class = "border-solid-red-light" src = "{% static "images/person.jpeg" %}">
                </div>
                <div class="col-sm-8 border-solid-red-light" id="self-bio">
                    <div class = "white-text" >
                        <h2>Hello!</h2>
                        <h5>I'm Josh.</h3><br>
                        <h5>I'm a Web Developer</h3>
                    </div>
                </div>
                <div class="col-sm border-solid-red-light" id = "content-bottom">
                    <div class = "row">
                        <div class = "col-sm white-text">
                            <p>Currently involved in : </p>
                            <p class = "bottom-list">- Lorem ipsum dolor sit</p>
                            <p class = "bottom-list">- Constectur adipiscing</p>
                            <p class = "bottom-list">- Sed do eiusmod tempor</p>
                            <p class = "bottom-list">- Lorem ipsum dolor sit</p>
                            <p class = "bottom-list">- Constectur adipiscing</p>
                            <p class = "bottom-list">- Sed do eiusmod tempor</p>
                        </div>
                        <div class = "col-sm white-text" id = "right-modifier">
                            <p>Past Projects : </p>
                            <p class = "bottom-list">- Lorem ipsum dolor</p>
                            <p class = "bottom-list">- Sed do eiusmod tempor</p>
                            <p class = "bottom-list">- Lorem ipsum dolor</p>
                            <p class = "bottom-list">- Constectur adip</p>
                            <p class = "bottom-list">- Sed do eiusmod</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
</html>