<!doctype html>
{% load static %}
<html lang="en-US">
<html>
    <head>
        <title>Projects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel = "stylesheet" href = "{% static "style.css" %}">
    </head>
    <body class = "bg-project">
        <div class="container">
            <header class = "black-bg-opacity-80 border-rounded white-text" id = "project-header">
                <h1 class="h1-head">Current Projects</h1>
            </header>

            {% include 'lab_5/navbar.html' %}

            <div class="row black-bg-opacity-80 border-rounded border-solid-red-dark" id = "project-section">
                <div class="col-md-6">
                    <div class="card border-solid-red-light white-text" id="card-project">
                        <h3>Designing App</h3>
                        <h3>Logos</h3>
                        <img id = "proj-img-l" src = "{% static "images/proj_1.jpg" %}">
                        <h5>Lorem ipsum dolor</h5>
                        <h5>set amet dir</h5>
                    </div>
                </div>
                <div class = "col-md-6" id="right-proj-modifier">
                    <div class="card border-solid-red-light white-text" id="card-project">
                        <h3>Studying With</h3>
                        <h3>PeWe</h3>
                        <img id = "proj-img-r" src ="{% static "images/proj_2.jpeg" %}">
                        <h5>Lorem ipsum dolor</h5>
                        <h5 >set amet dir</h5>
                    </div>
                </div>
            </div>
        </div>
    </body>
   

</html>